* {
    margin: 0;
    padding: 0;
}





body {
    background-image:url("imatges/background.jpg");
    background-repeat: repeat;
    font-family: "Times New Roman";
    font-size: 12pt;
}

#contenidor{
    width: 400px;
    margin: 0 auto 0 auto;
    color: #070719;
}

#header{
    background-color: #CED8F6;
}

h1{
    color: #070719;
    font-size: 16pt;
    padding: 10px 0 10px 10px;
    font-family: Palatino;
    
}

#menu{
    background-color: #5882FA;
}

#imatge1{
    margin: 20px 0 0 20px;
    width: 200px;
    
}

#paragraf{
    margin: 20px 20px 20px 20px;
}

#cos{
    text-align: center;
    background-color: #EFF2FB;
}

#imatge1{
    width: 200px;
}

#footer{
    background-color: #CED8F6;
}

#menu ul li{
    float: left;
    list-style: none;
    margin: 5px 0 0 15px;
}

#menu{
    height: 30px;
}

a{
   text-decoration: none;
   color: #FFFFFF;
}

a:hover{
    text-decoration: underline;
    font-weight: bold;
}

#footer{
    padding: 5px 0 0 15px;
    font-size: 9pt;
    color: grey;
}

#cos{
    height: 500px;
}

#div1 img{
    width: 300px;
    margin: 10px 0 10px 0;
}

#div2{
    margin: 10px 0 10px 0;
}

#div2 img{
    width: 50px;
    float: left;
    margin: 0 5px 0 5px;
}